.content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .main-content {
    flex: 1;
    display: flex;
  }
  
  app-post-feed {
    flex: 2;
  }
  
  app-sidebar {
    flex: 1;
    margin-left: 20px;
  }
  